.srt {
  @apply font-nunito font-extrabold text-[3.5rem] text-primary leading-[130%] uppercase  z-[1];
  @screen laptop {
    font-size: calc(6rem * var(--scale));
    width: calc(80rem * var(--scale));
  }
}

.banner-prin {
    @apply relative isolate pt-[10rem] px-[2.3rem];
    max-width: 100%;
    background-image: var(--bg-mobile);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 58.8rem;
    &::before {
      content: "";
      background: #ced4da;
      mix-blend-mode: multiply;
      @apply absolute inset-0 z-[-1];
    }
    @screen laptop {
      background-image: var(--bg-desktop);
      height: calc(87rem * var(--scale));
      padding: 0 calc(21.2rem * var(--scale));
      padding-top: calc(24rem * var(--scale));
      &::before {
        content: "";
        background: #ced4da;
        /* background: radial-gradient(167.38% 466.68% at 112.53% 21.26%,#a3e3ff 7.08%,#001a57 59.45%); */
      }
   
    }
    &__subtitle {
      @apply font-nunito font-light text-[#556382] text-[2.42rem]  leading-[170%] mb-[1rem];
      @media screen(laptop){
        font-size: calc(2.5rem * var(--scale));
        margin-bottom: calc(2.5rem * var(--scale));
      }
    }
  
    &__btn {
      @apply inline-block mt-[2rem];
      @media screen(laptop){
        margin-top: calc(2.5rem * var(--scale));
      }
    }
 

  }
  
  .HomeBanner {
    @apply relative isolate;
    &-pagination {
      @apply justify-center gap-4 mt-[2rem] hidden z-[5];
  
      @screen laptop {
        @apply absolute flex;
        top: calc(72rem * var(--scale));
        left: calc(90rem * var(--scale));
      }
  
      @screen desktop {
        left: calc(93rem * var(--scale));
      }
  
      .swiper-pagination-bullet {
        transition: background-color 0.3s ease;
        @apply rounded-full w-[2rem] h-[2rem] cursor-pointer bg-white;
  
        &-active {
          @apply bg-[#edb970];
        }
      }
    }
  }
  
  