.ServicesCard {
  @screen laptop {
    @apply flex cursor-pointer;
    gap: calc(2rem * var(--scale));
    border: 1px solid #eaeaea;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

  }

  img{
    @media screen(laptop) {
      @apply h-full;
      width: calc(12rem * var(--scale));
    }
  }

  &-info{
    @apply p-[1rem];
    @media screen(laptop) {
      @apply flex flex-col justify-between;
    }
  }

  &-h2{
    @apply font-nunito font-bold text-[1.7rem] text-[#232323];
    @media screen(laptop) {
      font-size: calc(2rem * var(--scale));
    }
  }

  &-p{
    @apply font-poppins font-light text-[1.7rem] text-content;
    @media screen(laptop) {
      font-size: calc(1.75rem * var(--scale));
    }
  }
}
